.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  /* background-color: red; */
  border-radius: 40px;
  
}

/*скрыть стагдарное изображение чекбокса  */
.switch__input {
  height: 0;
  width: 0;
  opacity: 0;
}


.switch__slider {
position: absolute;
/* cursor: pointer; */
top: 0;
left: 0;
bottom: 0;
right: 0;
border-radius: 40px;

background-color: rgb(231, 219, 59);
}

.switch__slider::before {
  content: "";
  position: absolute;
  /* cursor: pointer; */
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 25px;
  width: 25px;
  border-radius: 50px;
  background-color:rgb(190, 212, 232);
  transition: .9s;
  }

  /* .switch__input:focus + .switch__slider {
    box-shadow: 0 0 5 px blue;
  } */
  .switch__input:checked + .switch__slider {
    background-color: rgb(102, 102, 102);
  }
  .switch__input:checked + .switch__slider::before {
    transform: translateX(28px);
  }


.contexTheme.light {
  background-color: rgb(225, 219, 219);
  color: black;
}

.contexTheme.dark {
  color: white;
  background-color: rgb(95, 89, 89);
}

.dayNightLogo {
  width: 5em;
  height: 5em;
  margin-bottom: 1em;
  display: block; 
  margin-left: auto;  
  margin-right: auto 
}